@charset 'UTF-8';

@font-face {
  font-family: 'Fiendstar W01 Light';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/fiendstar-light/f1d3f6561ba6b843f618e9d5f0399e4e.eot'); // IE9
  src: url('../fonts/fiendstar-light/f1d3f6561ba6b843f618e9d5f0399e4e.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('../fonts/fiendstar-light/f1d3f6561ba6b843f618e9d5f0399e4e.woff2') format('woff2'), // chrome,firefox
  url('../fonts/fiendstar-light/f1d3f6561ba6b843f618e9d5f0399e4e.woff') format('woff'), // chrome,firefox
  url('../fonts/fiendstar-light/f1d3f6561ba6b843f618e9d5f0399e4e.ttf') format('truetype'); // chrome,firefox,opera,Safari, Android, iOS 4.2+
}

@font-face {
  font-family: 'Fiendstar W01 Regular';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/fiendstar-regular/4fb585f7f5a2d493cd85baeba22cc983.eot'); // IE9
  src: url('../fonts/fiendstar-regular/4fb585f7f5a2d493cd85baeba22cc983.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('../fonts/fiendstar-regular/4fb585f7f5a2d493cd85baeba22cc983.woff2') format('woff2'), // chrome,firefox
  url('../fonts/fiendstar-regular/4fb585f7f5a2d493cd85baeba22cc983.woff') format('woff'), // chrome,firefox
  url('../fonts/fiendstar-regular/4fb585f7f5a2d493cd85baeba22cc983.ttf') format('truetype'); // chrome,firefox,opera,Safari, Android, iOS 4.2+
}

@font-face {
  font-family: 'Fiendstar W01 Bold';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/fiendstar-bold/9280a336215bd036e843a066d1dc1bd2.eot'); // IE9
  src: url('../fonts/fiendstar-bold/9280a336215bd036e843a066d1dc1bd2.eot?#iefix') format('embedded-opentype'), // IE6-IE8
  url('../fonts/fiendstar-bold/9280a336215bd036e843a066d1dc1bd2.woff2') format('woff2'), // chrome,firefox
  url('../fonts/fiendstar-bold/9280a336215bd036e843a066d1dc1bd2.woff') format('woff'), // chrome,firefox
  url('../fonts/fiendstar-bold/9280a336215bd036e843a066d1dc1bd2.ttf') format('truetype'); // chrome,firefox,opera,Safari, Android, iOS 4.2+
}
