{#
/**
 * @file
 * Theme implementation for a Tenancy office field.
 *
 * The Tenancy office content type uses Definition/Description lists to list its
 * field values.
 *
 * Multivalue fields are wrapped in multiple dd tags.
 */
#}
<div class="definition-list--row">
{% if not label_hidden %}
  <dt>{{ label }}</dt>
  {% else %}
  <dt><span class="hidden">Additional Information</span></dt>
{% endif %}
{% for item in items %}
  <dd>{{ item.content }}</dd>
{% endfor %}
</div>
