/* base styling */

h1, h2, h3, h4, h5, h6, .heading {
  line-height: 1.1;
  padding-right: 1.5rem;
}

a {
  font-weight: 400;
}

a:hover,
a:focus {
  color: var(--color-link-focus);
  background-color: var(--color-focus);
  text-decoration: none; /* default text decoration not required */
}

@media screen and (min-width: 62rem) {
  h1 {
    font-size: calc(var(--font-size) * 2.875);
  }

  h2 {
    font-size: calc(var(--font-size) * 2.125);
  }

  h3 {
    font-size: calc(var(--font-size) * 1.75);
  }
}