/* Radio Buttons 
  This radio styling is amended CSS from the gov.uk design system:
  - https://design-system.service.gov.uk/components/radios/

  We are adding a .form-radios class around each of these here to make sure
  this only affects radios created by Drupal. If we don't, the position absolute
  can have very unwanted effects.

  If you need to create custom radios, make sure you have the same class
  wrapping them.
*/

.webform-type-radios .form-item {
  display: block;
  position: relative;
  min-height: 40px;
  margin-bottom: 10px;
  padding-left: 40px;
  clear: left;
}
.webform-type-radios .form-item input {
  position: absolute;
  z-index: 1;
  top: -2px;
  left: -2px;
  width: 44px;
  height: 44px;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}
.webform-type-radios .form-item label {
  display: inline-block;
  margin-bottom: 0;
  padding: 8px 15px 5px;
  cursor: pointer;
  touch-action: manipulation;
}
.webform-type-radios .form-item [type="radio"] + label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid var(--radio-select-outline-color);
  border-radius: 50%;
  content: "";
  background: transparent;
}
.webform-type-radios .form-item [type="radio"] + label::after {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 0;
  height: 0;
  border: 10px solid currentColor;
  border-radius: 50%;
  content: "";
  opacity: 0;
  background: currentColor;
}
.webform-type-radios .form-item [type="radio"]:focus + label::before {
  box-shadow: 0 0 0 4px var(--radio-select-focus-color);
}
.webform-type-radios .form-item input:checked + label::after {
  opacity: 1;
}
.webform-type-radios .form-item:last-child,
.webform-type-radios .form-item:last-of-type {
  margin-bottom: 0;
}


/*single checkboxes like terms of service*/

.js-form-type-checkbox input[type="checkbox"] {
  position: absolute;
  z-index: 1;
  top: -2px;
  left: -2px;
  width: 44px;
  height: 44px;
  margin: 0;
  cursor: pointer;
  opacity: 0;
}

.js-form-type-checkbox input[type="checkbox"] + label {
  display: inline-block;
  margin-left: 40px;
  padding: 8px 15px 5px;
  cursor: pointer;
  touch-action: manipulation;
}

.js-form-type-checkbox input[type="checkbox"] + label::before {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  content: "";
  border: 2px solid #121212;
  background: transparent;
}
.js-form-type-checkbox input[type="checkbox"] + label::after {
  position: absolute;
  top: 11px;
  left: 9px;
  box-sizing: border-box;
  width: 23px;
  height: 12px;
  content: "";
  transform: rotate(-45deg);
  opacity: 0;
  border: solid;
  border-width: 0 0 5px 5px;
  border-top-color: transparent;
  background: transparent;
}

.js-form-type-checkbox input[type="checkbox"]:focus + label:before {
  border-width: 4px;
  box-shadow: 0 0 0 3px var(--checkbox-select-focus-color);
}

.js-form-type-checkbox input[type="checkbox"]:hover + label,
.js-form-type-checkbox input[type="checkbox"]:focus + label {
  text-decoration: underline;
}

.js-form-type-checkbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
