.leaflet-popup-content-wrapper {
    padding: 1px;
    text-align: left;
    border-radius: 0px !important;
}
.leaflet-popup-content {
    height: max-content;
}

.leaflet-container a.leaflet-popup-close-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    text-align: center;
    width: 30px;
    height: 30px;
    font: 28px/28px Tahoma, Verdana, sans-serif;
    font-weight: 800;
    color: #757575;
    text-decoration: none;
    background: transparent;
    margin-top: .625rem;
    margin-right: .625rem;
}
img.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive {
    -webkit-filter: saturate(0%) grayscale(100%) brightness(69%) contrast(1000%);
    filter: saturate(0%) grayscale(100%) brightness(69%) contrast(1000%);
}
/* li.facet-item.facets-reset input[type=checkbox] {
    content: "\f2f9" !important;
} */
.facet-item.facets-reset input[type=checkbox]+label,
.form-checkboxes input[type=checkbox]+label,
.form-item-webform-terms-of-service input[type=checkbox]+label {
    width: 40%!important;
    position: relative;
    float: right;
}

li.facet-item.facets-reset input[type=checkbox]+label:before {
    font-size: 1.1875rem;
    font-weight: 900;
    font-family: Font Awesome\ 5 Pro;
    content: "\f2f9";
    padding: 5px 0px 0px 10px;
    color: #121212;
    margin: 0 0.6235rem 0 0;
    display: inline-block;
    width: 1.2rem;
    border-color: transparent;
}

li.facet-item.facets-reset input[type=checkbox]:checked+label:before {
    content: "";
}

.facet-filter-visibility,
.leaflet-recenter-map,
.leaflet-map-visibility {
    font-size: 1.1875rem;
    font-weight: 900;
    color: #121212;
    margin: 0 0.6235rem 0 0;
    display: inline-block;
    border-color: transparent;
    padding-bottom: 0.625rem;
}

.facets-reset .facet-result-item,
.facet-filter-visibility,
.leaflet-recenter-map,
.leaflet-map-visibility--hide-map,
.leaflet-map-visibility {
    &:hover {
        color: var(--color-link-focus);
        background-color: var(--color-focus);
        text-decoration: none;
    }
}

.facet-filter-visibility,
.leaflet-map-visibility {
    &:before {
        font-family: Font Awesome\ 5 Pro;
        content: "\f070";
        width: 1.2rem;
        padding: 0rem 0.3rem 0rem 0rem;
    }
}

.facet-filter-visibility {
    padding: 0rem 0.0rem 0rem 0rem;
}

.leaflet-recenter-map:before {
    font-family: Font Awesome\ 5 Pro;
    content: "\f78c";
    padding: 0rem 0.3rem 0rem 0rem;
}


.facet-filter-visibility--hide-filter,
.leaflet-map-visibility--hide-map {
    &:before {
        font-family: Font Awesome\ 5 Pro;
        content: "\f06e" !important;
        width: 1.2rem;
        padding: 0rem 0.3rem 0rem 0rem;
    }
}
/* .facet-filter-visibility:before */

.leaflet-div-icon {
    border: 0px !important;
    background-color: transparent !important;
    width: 21px;
    height: 32px;
    background-image: url('/themes/contrib/localgov_base_croydon/assets/img/map-marker.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
.leaflet-div-icon-active {
  background-position: top right;
}
